.tabs {
  display: flex;
  flex-wrap: wrap;
}

.tabs__content {
  width: 100%;
}

.tabs__table {
  width: inherit;
  padding-top: 21px;

  border-spacing: 0;
}

.tabs__table-row {
  display: flex;
  justify-content: flex-start;

  margin-bottom: 8px;
}

.tabs__title {
  max-width: 160px;
  padding: 0;

  font-weight: 600;

  text-align: left;
}

.tabs__value {
  max-width: 160px;
  margin-left: auto;

  text-align: end;
}

.tabs__product-description {
  margin: 0;
  padding-top: 20px;
}

.tabs__button {
  min-width: 190px;
  padding-right: 26px;
  padding-left: 26px;
}

.button--black-border {
  color: #201f1f;
  border: 2px solid #131212;
  background-color: #fefafa;
}

.button--black-border:hover {
  color: #fefafa;
  background-color: #131212;
}
